In [58]:
import pandas as pd


from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate

In [59]:
work="~/desenv/rcm-portal/dados"
df = None

In [66]:

df = pd.read_csv(r"~/desenv/rcm-portal/dados/id_menu+usuario+score.csv", delimiter=";")

In [67]:
df.head(5)

   id_menu  id_usuario     score
0      128         564  2.350146
1      128         905  0.869096
2      128        1041  0.291320
3      128        1106  0.380349
4      128        1203  0.504225

In [68]:
max_score = df['score'].max()

In [54]:
print(max_score)

1251.2522355890292

In [70]:
print( df[ df['score'] == max_score ] )

      id_menu  id_usuario        score
2468      162        2669  1251.252236

In [71]:
reader = Reader(rating_scale=(1, max_score + 1))

In [72]:
data = Dataset.load_from_df(df[['id_usuario', 'id_menu', 'score']], reader)

In [73]:
cross_validate(NormalPredictor(), data, cv=2)

{'test_rmse': array([34.6993045 , 36.12544645]),
 'test_mae': array([19.66122306, 18.65759955]),
 'fit_time': (0.014712095260620117, 0.011746883392333984),
 'test_time': (0.12783575057983398, 0.0869901180267334)}